---
import { Episode } from "@podverse/podcast-feed-parser";
import {
  formatDate,
  formatDuration,
  getSlug,
  prepareTitle,
} from "../utils";
import { Image } from "@astrojs/image/components";

export type Props = Episode;

const e = Astro.props;
---

<a
  class="hover:bg-slate-800 rounded-md md:rounded-xl group overflow-hidden transition-all hover:scale-95 md:hover:scale-105"
  aria-labelledby={e.title}
  class="w-auto overflow-hidden"
  href={"/episodes/" + getSlug(e)}
>
  <div class="grid grid-cols-[minmax(50px,100px)_minmax(300px,_1fr)] md:grid-cols-[minmax(50px,200px)_minmax(300px,_1fr)] md:p-2 gap-4 break-words items-center lg:items-start">

    <Image
      alt="copertina episodio"
      src={e.imageURL}
      width={200}
      height={200}
      class="rounded md:rounded-lg"
    />

    <div class="flex flex-col items-start">
      <time
        datetime="2022-02-17T00:00:00.000Z"
        class="mb-1 md:mb-0 text-xs md:text-sm leading-none md:leading-4 text-yellow-500 uppercase"
      >
        {formatDate(e.pubDate)}
      </time>
      <div class="line-clamp-3 md:line-clamp-5">
        <h2
          id="episode-4-title"
          class="mt-px md:mt-2 text-base leading-tight md:text-lg font-bold text-slate-900 group-hover:text-slate-100"
        >
          <span
            class="bg-slate-800 text-white font-mono rounded font-normal text-xs md:text-sm px-1 mr-1  md:px-2 md:mr-2 md:py-1 group-hover:hidden transition-all"
          >
            {`* ${prepareTitle(e.title)[0]}`}</span
          >
          {prepareTitle(e.title)[1]}
        </h2>
        <p
          class="md:mt-1 text-base leading-tight md:leading-6 text-slate-700 group-hover:text-slate-300 hidden md:block"
        >
          {e.description.split("<br />")[0]}
        </p>
      </div>
      <div class="mt-4 hidden md:block">
        <span class="text-sm leading-none text-slate-500 capitalize">
          Durata: {formatDuration(e.duration)}
        </span>
      </div>
    </div>
  </div>
</a>
